.wrapper{
    width: 500px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top:40px;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: solid 1px #dee2e6;
}

.header-item{
    flex: 1;
    height:50px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:var(--text-color);
    font-weight:600;
    font-size:20px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.content{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 20px ;
    margin-top: 20px;
}

.active{
    color: #F5A623 !important;
    border-bottom: 3px solid #F5A623 !important;
}
