.wrapper{
    width:400px;
}

.form-login{
    width:100%;
    text-align:center;
}

.input-item{
    padding:10px 0;
    width:100%;

}

.input-value{
    width:100%;
    border: 1px solid #ced4da;
    height:40px;
    font-size: 18px;   
    border-radius: 5px;   
    padding: 5px 10px;  
    color: var(--text-color); 
}

.btn-login{
    text-align: center;
    margin-top:20px;

    button{     
        font-size:18px;
        color: white;
        padding:5px;   
        border-radius: 5px;
        background-color: var(--primary-color);
    }
}